
 
 <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Best Dog Parks</h1>
      <p class="lead my-3">Take your four leggeded furry friend out</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">click here for your next adventure</a></p>
    </div>
  </div>
<br>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       

  <% @parks.each do |park| %>
      <%= link_to park.name, park_path(park.id) %> <br>
  <% end %>

  </strong>
  
  </div>
  </div>
  </div>
  

