<style>
body {
  background-image: url("https://myrealdomain.com/images/cactus-border-clipart-8.jpg");
  background-color: #CCCCCC;
}
</style>

<div class="text-center">
<h1 class="display-1">
  Best Dog Parks in Austin Texas!</h1>
  <h4>click on any park to choose your next adventure</h4>
 
<br>
<h4 class="display-4">
  <% @parks.each do |park| %>
      <%= link_to park.name, park_path(park.id) %> <br>
  <% end %>
 </h4>
 </div>

  

