<h1>About this Park</h1>
<p>Park Name:</p>
<li> <%= @park.name %> </li>
<p>Park Location:</p>
<li>  <%= @park.location %> </li>
<p>Park Description:</p>
<li>  <%= @park.description %> </li><br>



<%= image_tag("#{@picture}.jpg") %>